@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway&family=Roboto+Mono:wght@100&family=Ubuntu:wght@300&display=swap');

body {
	background-color: whitesmoke;
}

.crypto-panel {
	background-image: url("../images/md-bg.jpg");

	background-size: cover;

	margin-top: 20px;
	border-radius: 11px;
	padding: 20px 40px;
}

.crypto-rank, .crypto-sym {
	font-family: 'Roboto Mono', monospace;
}
.crypto-sym {
	padding-top: 10px;
}
.crypto-logo {
	display: flex;
	align-items: center;
}
.crypto-logo img {
	height: 60px;
}
.box {
	display: flex;
	flex-direction: column;
	height: fit-content;
	border-radius: 11px;
	color: aliceblue;
	padding: 10px 20px;

	background: rgba(255, 255, 255, 0.15);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.top-main {
	display: flex;
	justify-content: space-between;
}
.crypto-name {
	color: #fff;
	font-family: 'Montserrat', sans-serif;

}
.crypto-top {
	display: flex;
	flex-direction: column;
}
.crypto-head {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.crypto-info {
	display: flex;
}
.crypto-value, .sec-2 p, .sec-3 p {
	font-family: 'Raleway', sans-serif;
}
.crypto-panel hr {
	color: white;
}

.sec-2 h6, .sec-3 h6 {
	color: #fff	;
	font-family: 'Montserrat', sans-serif;
}
.sec-2 p, .sec-3 p {
	color: aliceblue;
}

.timeline {
	height: 25rem;
	border-radius: 11px;
	overflow: auto;
}

.sec-4 {
	padding-bottom: 10px;
}

.content-fit {
	width: 10rem;
	text-align: left;
}

.about-crypto {
	margin-top: 3rem;
	background-color: white;
	border-radius: 11px;
	padding: 10px 20px;
}

.about-crypto h1, .about-crypto h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}
.about-crypto p, .blog-news {
	font-family: 'Ubuntu', sans-serif;
}

.about-content {
	height: 23rem;
	overflow: auto;
}

.news {
	margin-top: 3rem;
}
.news h1, .blog-headline, .blog-date {
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
}
.blog-post {
	background-color: white;
	border-radius: 11px;
	margin-top: 4px;
	margin-bottom: 12px;
}
.blog-img {
	width: 100%;
}
.blog-img img {
	border-radius: 11px;
	width: 100%;
}
.blog-body {
	padding: 10px 20px;
	padding-bottom: 2px;
}



@media screen and (max-width: 1200px) and (min-width: 992px) { 
	.crypto-value h1 {
		font-size: 2rem;
	}
}